[submodule "example/NIRA_STM32F4_EVB/Libs/Stream"]
	path = example/NIRA_STM32F4_EVB/Libs/Stream
	url = https://github.com/Ali-Mirghasemi/Stream.git
[submodule "example/NIRA_STM32F4_EVB/Libs/Str"]
	path = example/NIRA_STM32F4_EVB/Libs/Str
	url = https://github.com/Ali-Mirghasemi/Str.git
